#Ignore all file xlsx/xls
*.xlsx
*.xls

#Ignore rds files
*.rds

#Ignore dist and build folder
build/
dist/
app/dist/
app/build/
Mixture/build/
Mixture/dist/
Mixture/Mixture.egg-info/
data/

MixturePy.spec
